* {
  margin: 0;
}

body {
  background-color: #ccd5ae;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  color: teal;
  margin: 24px;
}

btn-container {
  display: flex;
  justify-items: center;
  height: 25vh;
}

.game-btns {
  display: flex;
  justify-content: space-evenly;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 24px;
  gap: 8px;
}

button,
img {
  display: flex;
  border-radius: 20px;
  border-style: hidden;
  background-color: #faedcd;
}

img:hover {
  background-color: #fefae0;
}

.message,
.reset {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9edc9;
  height: 3vh;
}

.score-board {
  display: flex;
  justify-content: center;
  background-color: #e9edc9;
}

.scores {
  display: flex;
  justify-content: space-around;
  background-color: #e9edc9;
}

p {
  font-size: 20px;
  font-weight: bold;
  background-color: #e9edc9;
}

.round-count {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #e9edc9;
  height: 25vh;
}
